/* Estilos para el contenedor del carrusel */
.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* Estilos para las im치genes */
.carousel-slide {
    display: none;
    width: 100%;
}

/* Estilo para la imagen actual */
.active-slide {
    display: block;
}

/* Estilos para los botones de flecha */
.carousel-control {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 30px;
    z-index: 1;
}

/* Estilo para el bot칩n izquierdo */
.carousel-control.left {
    left: 10px;
}

/* Estilo para el bot칩n derecho */
.carousel-control.right {
    right: 10px;
}
/* Estilo para la imagen dentro del contenedor */
.carousel-slide img {
    width: 600px; /* Ajustamos el ancho de la imagen al 100% del contenedor */
    height: 800px;
    max-height: 200px; /* Establecemos la altura m치xima que desees */
    padding: 20%;
    margin-top: -15%;
}
